.Background {
  background-color: #fff;
  width: 2.5rem; /* 98px / 16px */
  height: 2.5rem; /* 98px / 16px */
  border-radius: 100%;
  box-shadow: 0.1rem 0rem 0.1rem 0rem rgba(0, 0, 0, 0.25);
  box-shadow: 0rem 0.1rem 0rem 0.1rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  // @media (min-width: 1024px) {
  //   width: 98px;
  //   height: 98px;
  // }

  .Border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.1rem;
    border-radius: 1rem 0.55rem 0.65rem 0rem; /* 35px / 16px, 19px / 16px, 22px / 16px, 0px / 16px */
    background-color: black;

    // @media (min-width: 1024px) {
    //   width: 51px;
    //   height: 47px;
    //   border-radius: 35px 19px 22px 0px;
    // }

    .Body {
      width: 1.2rem;
      height: 0.7rem;
      border-radius: 0.6rem 0.2rem 0.59rem 0rem;
      background-color: #fff;

      // @media (min-width: 1024px) {
      //   width: 51px;
      //   height: 30px;
      //   border-radius: 22px 10px 19px 0px;
      // }

      .Eyes {
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 100%;
        background-color: black;
        margin: 0.1rem 0 0.28rem 0.7rem;

        // @media (min-width: 1024px) {
        //   width: 9px;
        //   height: 9px;
        //   margin: 6px 0px 9px 35px;
        // }
      }
    }
  }

  .Mouth {
    width: 0.25rem; /* 16px / 16px */
    height: 0.15rem; /* 10px / 16px */
    background-color: black;
    border-radius: 0 3.75rem 0 0; /* 0px / 16px, 100% / 16px, 0px / 16px, 0px / 16px */
    transform: rotate(-10deg);
    margin: 1.15rem 0rem 1.5rem 0rem; /* 37px / 16px, 0px / 16px, 49px / 16px, 0px / 16px */

    // @media (min-width: 1024px) {
    //   width: 1rem; /* 16px / 16px */
    //   height: 0.625rem; /* 10px / 16px */
    //   border-radius: 0 100% 0 0;
    //   margin: 37px 0px 49px 0px;
    // }
  }

  @media (min-width: 1024px) {
    transform: scale(2);
  }
}
